:root {
  --main-bg-color: rgb(248, 245, 244);
  --main-txt-color: rgb(10, 10, 10);
  --theme-color: rgb(14.9%, 52.7%, 96%);
}
html,
body {
  border: 0;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-size: small;
}
div.side-nav {
  background: var(--theme-color);
}
.card {
  border-top-color: transparent !important;
  border-bottom-width: 1px;
  border-bottom-color: rgba(61, 60, 60, 0.125);
  border-bottom-style: solid;
  border-radius: 0;
  height: 3rem;
}
.logo {
  width: 50%;
  height: auto;
  margin: 0.8rem 3rem;
}
.nav-card :first-child {
  position: right;
  float: right;
}


.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  border-bottom: solid 1px #eee;
}

.notifications {
  border: solid 1px #eee;
  padding: 0.3rem;
}

.notification-image {
  width: 1.8rem;
  height: 1.8rem;
  padding: 0.4rem 0;
}

.profile {
  align-items: center;
  padding: 0.4rem 0.2rem;
  border: solid 1px #eee;
  padding-left: 1rem;
}

.profile-image {
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 100%;
  object-fit: cover;
}

.profile-text {
  font-size: small;
}

.nav-items {
  margin-top: 3rem;
}

.nav-items>ul>li>a {
  color: white;
}

.list-group-item {
  background: var(--theme-color);
  border-radius: 0;
  height: 40px;
}

li a {
  display: block
}

.tabs-card {
  border-bottom: solid 1px #eee;
}

#tab1,
#tab2 {
  float: left;
  padding: 5px 10px 5px 10px;
  background: var(--main-bg-color);
  cursor: pointer;
}

#tab1 {
  margin-left: 20px;
  border-right: 1px solid rgb(228, 225, 227);
}

#tab1:hover,
#tab2:hover {
  background: var(--theme-color);
}

#tab1Content {
  display: flex;
  width: 100%;
  /* height: 600px; */
}

#tab2Content {
  display: none;
}

.tab1-sms,
.tab1-outbox {
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.19);
}

.tab1-sms {
  width: 65%;
  border: 1px solid rgb(228, 225, 227);
  border-radius: 10px;
}

.tab1-outbox {
  width: 30%;
  margin-left: 8px;
  border: 1px solid rgb(228, 225, 227);
  border-radius: 10px;
}

.sms-title,
.outbox-title {
  display: flex;
  border-bottom: 1px solid rgb(228, 225, 227);
  padding-left: 30px;
}

.sms-text {
  margin-left: 42%;
}

.outbox-title .outbox-text {
  margin-left: 50%;
}

.contact-list-form {
  border-bottom: 1px solid rgb(228, 225, 227);
  padding: 8px 8px 24px 8px;
}

.contacts-form p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid rgb(128, 126, 126);
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.contacts-form p span {
  background: #fff;
  padding: 0 10px;
}
.contacts-form button {
  width: 100%;
  border: 1px solid rgb(228, 225, 227);
  border-radius: 10px;
  font-size: small;
}

.upload-error {
  background: rgb(243, 241, 241);
  border-radius: 10px;
}

.upload-error .file-size {
  font-size: x-small;
}

.message-form,
.set-schedule {
  border-bottom: 1px solid rgb(228, 225, 227);
}

.send-msg {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  height: 50px;
  margin-bottom: 1.75rem;
}

.send-msg-btn {
  background: var(--theme-color);
  color: white;
  width: 30%;
}

.outbox-search {
  display: flex;
  margin-bottom: 0;
  border-bottom: 1px solid rgb(228, 225, 227);
}

.outbox-text span {
  background: var(--theme-color);
  padding: 0.2rem;
  border-radius: 100%;
  min-width: 20px;  
}

.has-search .form-control {
  padding-left: 1.375rem;
  width: 90%;
  margin: 1rem;
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
  padding-left: 2rem;
}

.msg-extra {
  font-size: xx-small;
}

.msg-extra .spread {
  color: rgb(16, 152, 214);
}

.spread {
  margin-left: 70%;
}

.outbox-message-scheduled {
  background: rgb(243, 241, 241);
}

.outbox-message-scheduled .msg-extra .spread {
  color: rgb(236, 96, 14);
}
